*{
    margin: 0%;
    padding: 0%;
    font-family: gilroy;
   color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: black;
    overflow: hidden;
}
nav{
    color: #fff;
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around                                                                   ; 
   
}
.option{
    display: flex;
    gap: 5vw;
    margin-left: 20px;
}
.icon{
    display: flex;
    gap: 2vw;
    
}

.home{
  height: 90vh;
  width: 100vw;
  display: flex;
  background-color: #141313;
}
.home .one{
    width: 30vw;
    height: 4vh;
    display: flex;
    transform: rotate(-90deg);
   letter-spacing: 2px;
   margin-top: 40vh;
}
.home .one h5{
    margin-left: 50px;
}
.home .left{
    height: 90vh;
    width: 40vw;
}
.home .left .first{
    display: flex;
    gap:2vw;
    margin-top: 5vh;
}
.home .left .button{
        height: 10vh;
        width: 12vw;
        border-radius: 100vw;
        background-image: url(https://images.unsplash.com/photo-1507537064587-464384459bb7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbiUyMHRoYXQlMjB1c2luZyUyMHBob25lfGVufDB8fDB8fHww);
        background-size: cover;
        margin-top: 10px;
}
.home .left .first p{
    width: 26vw;
    margin-top: 1vh;
}
.home .left .second h1{
    font-size: 90px;
}
.home .left .second h1 span{
    color: orange;
}
.home  .left .third{
    margin-top: 10vh;
    display: flex;
    gap: 8vw;
}
.home  .left .third h5{
    color: orange;
}
.home .left .third h4{
    margin-top: 1vh;
}
.home .right{
    height: 90vh;
    width: 40vw;
    background-color: rgb(181, 192, 192);
    border-top-left-radius: 50% ;
    border-bottom-left-radius: 50% ;
    background-image: url(https://images.unsplash.com/photo-1713101888005-49e61c91891b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDl8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
}
.page2{
    width: 60vw;
    height: 100vh;
    margin-left: 20vw;
    padding: 5vh 0 0 0 ;
}

.page2 .top{
    display: flex;
}

.page2 .top .left{
    width: 30vw;
    height: 40vh;
}

.page2 .top .left h5{
    color: rgb(180, 169, 169);
   letter-spacing:1px;
}

.page2 .top .left h2{
    margin-top: 3vh;
}
.page2 .top h6{
    margin-top: 3vh;
    color: #e9e8e8;
    letter-spacing:1px;
    margin-left: 2vw;
}
.page2 .top .right{
    width: 30vw;
    height: 40vh;
}

.page2 .top .right{
    color: rgb(172, 158, 158);
}
.page2 .top p{
    margin-top: 20px;
}
.page2 .top #p1{
    margin-top: 40px;
}

.page2 h1{
    font-size:80px;
}
.page2 .bottom{
    
    display: flex;
    gap: 4vw;
}
.page2 .bottom .img1 .image1{
    width: 12vw;
    height: 30vh;
    background-color: rgb(64, 42, 42);
    border-radius: 100vh;
    background-image: url(https://images.unsplash.com/photo-1535957998253-26ae1ef29506?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8b2ZmaWNlfGVufDB8fDB8fHww);
    background-size: cover;
    margin-top: 7vh;
}
.page2 .bottom .img1 h3{
    color: #e9e8e8;
    margin-top: 2vh;
}

.page2 .bottom .img2 .image2{
    width: 12vw;
    height: 30vh;
    background-color: rgb(64, 42, 42);
    border-radius: 100vh;
    background-image: url(https://images.unsplash.com/photo-1621764654888-85f7e03d60d6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8YWV1NnJMLWo2ZXd8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin-top: 7vh;
}
.page2 .bottom .img2 h3{
    color: #e9e8e8;
    margin-top: 2vh;
}

.page2 .bottom .img3 .image3{
    width: 12vw;
    height: 30vh;
    background-color: rgb(64, 42, 42);
    border-radius: 100vh;
    background-image: url(https://images.unsplash.com/photo-1599687350452-f60014809d2a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDR8YWV1NnJMLWo2ZXd8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin-top: 7vh;
}
.page2 .bottom .img3 h3{
    color: #e9e8e8;
    margin-top: 2vh;
}

.page2 .bottom .img4 .image4{
    width: 12vw;
    height: 30vh;
    background-color: rgb(64, 42, 42);
    border-radius: 100vh;
    background-image: url(https://images.unsplash.com/photo-1525770041010-2a1233dd8152?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGV2aWNlfGVufDB8fDB8fHww);
    background-size: cover;
    margin-top: 7vh;
}
.page2 .bottom .img4 h3{
    color: rgb(255, 165, 0);
    margin-top: 2vh;

}

.page3{
    height: max-content; 
}
.upper{
    width: 65vw;
    padding: 10vh 0 0 0;
    margin-left: 17vw;
    display: flex;
    gap: 4vw;
}
.upper .left{
    height: 58vh;
    width : 30vw;
    background-image: url(https://images.unsplash.com/photo-1593508512255-86ab42a8e620?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8VlIlMjBoZWFkc2V0fGVufDB8fDB8fHww);

}
.upper .right{
    height: 58vh;
    width : 32vw;
   
}
.upper .right h6{
    margin-top: 4vh;
    color: #e9e8e8;
}
.upper .right h2{
    margin-top: 2vh;
}
.upper .right .obj{
    display: flex;
    gap: 3vw;
}
.upper .right .obj h4{
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.upper .right p{
    margin-top: 3vh;
}
.upper .right #color {
    color: orange;
}
.page3 .down{
    height: 14vh;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 15vh;
}
.page3 .down h6{
    margin-left: 15vw;
    color: #e9e8e8;
}
.page3 .down .logos{
   height: 7vh;
   width: 50vw;
   margin-top: 5vh;
   display: flex;
   gap: 4.4vw;
}
.page3 .down .logos #image{
    color: orange;
}

.page4{
    display: flex;
    justify-content: space-between;
    padding: 15vh 0 0 0;
    background-color: black;
    
}
.page4 .left{
    z-index: 99;
    overflow: hidden;
    width: 50vw;
    height: 80vh;
    margin-top: 13vh; 
    padding-left: 20%;

}
.page4 .left .top{
    display: flex;
}
.page4 .left .top .button{
    height: 10vh;
    width: 12vw;
    background-color: pink;
    border-radius: 100vw;
    background-image: url(https://images.unsplash.com/photo-1507537064587-464384459bb7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbiUyMHRoYXQlMjB1c2luZyUyMHBob25lfGVufDB8fDB8fHww);
    background-size: cover;
    margin-top: 10px;
}
.page4 .left .top h1{
    font-size: 90px;
    margin-left: 2vw;
}
.page4 .left h1{
    font-size: 90px;

}
.page4 .left p{
    margin-top: 3vh;
}
.page4 .left .number{
    display: flex;
    gap: 3.9vw;
}
.page4 .left .number1{
    display: flex;
    margin-top: 5vh;
}
.page4 .left .number1 h1{
    color: orange;
}
.page4 .left .number1 h6{
    margin-top: 8vh;
    margin-left: 0.2vw;
}
.page4 .right{
    z-index: 85;
    height: 80vh;
    width: 50vw;
    background-color: orange;
    background-image: url(https://plus.unsplash.com/premium_photo-1680378871613-bfacb34787f8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    border-top-left-radius: 50% ;
    border-bottom-left-radius: 50% ;
}

.page5{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-size: cover;
}
.page5 .top{
    height: 70vh;
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    padding-top: 10vh;
}
.page5 .top .left{
     width: 15vw;
    
}
.page5 .top .left h6{
    margin-top: 3vh;
    color: rgb(172, 165, 165);
}
.page5 .top .left h3{
    margin-top: 3vh;
    font-size: 25px;
}
.page5 .top .right h6{
    margin-top: 3vh;
    margin-left: 37vw;
    color: orange;
}
.page5 .top .right h1{
    font-size: 70px;
    margin-left: 8.5vw;
    color: rgb(172, 165, 165);
}
.page5 .top .right .ha{
    margin-left: 39vw;
}
.page5 .top .right .h{
    margin-left: 12.3vw;
}

.page5 .bottomPart1{
    white-space: nowrap; 
}

.page5 .bottomPart1 h1{
    display: inline-block;
    animation-name: scrol1;
    animation-duration: 2s;
    margin-right: 20px;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes scrol1{
    to{
        transform: translate(0%);
    }
    from{
       transform: translate(calc(-100% - 24px));
    }
}
.page5 .bottomPart2{
    white-space: nowrap;
    margin-top: 3vh;
}
.page5 .bottomPart2 h1{
    color: orange;
    display: inline-block;
    margin-right: 20px;
    animation-name: scrol2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrol2{
    to{
        transform: translate(calc(-100% - 24px));
    }
    from{
        transform: translate(0%);
    }
}

.page6{
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin-top: 20vh;
}
.page6 .top{
    height: 60vh;
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    gap: 3vw;
}
.page6 .top h1{
    font-size: 90px;
}
.page6 .top h3 i{
    color: orange;
}
.page6 .top p{
    margin-top: 4vh;
    color: rgb(192, 168, 168);
}
.page6 .top hr{
    margin-top: 2vh;
    color: gray;
}

.page6 .top .profile{
    margin-top: 3vh;
    display: flex;
}
.page6 .top .profile h4{
    margin-left: 1vw;
    margin-top: 1vh;
}
.page6 .top .profile h5{
    color: orange;
    margin-top: 1vh;
    margin-left: 1vw;
}
.page6 .top .left .profile .pic{
    height: 6.6vh;
    width: 3.3vw;
    background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D);
    background-size: cover; 
    border-radius: 100%;
}
.page6 .top .right .profile .pic{
    height: 6.6vh;
    width: 3.3vw;
    background-image: url(https://plus.unsplash.com/premium_photo-1688740375397-34605b6abe48?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; 
    border-radius: 100%;
}
.page6 .top .right .icon{
    margin-top: 6vh;
    padding-right: 4vh;
}
.page6 .top .right .icon .left{
    height: 3.7vh;
    width: 2vw;
    border-radius: 100%;
    background-color: rgb(71, 63, 63);
    padding: 1vh;
    
}
.page6 .top .right .icon .left i{
    padding: 1.7vh 0 0 1vh;
}
.page6 .top .right .icon .right{
    height: 3.7vh;
    width: 2vw;
    border-radius: 100%;
    background-color: rgb(71, 63, 63);
    padding: 1vh;
    
}
.page6 .top .right .icon .right i{
    padding: 1.7vh 0 0 1vh;
}

.page6 .top .right h3{
    margin-top: 3vh;
}

.page6 .bottom{
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    gap: 7vw;
}
.page6 .bottom h4{
    margin-top: 2vh;
    color: #d8c8c8;
}
.page6 .bottom .ex{
    color: orange;
}
.page6 .bottom hr{
    color: #635e5e;
    margin-top: 2vh;
}
.page6 .bottom p{
    margin-top: 2vh;
    color: #635e5e;
}
.page6 .bottom .part3 .logos{
    height: 4vh;
    width: 20vw;
    margin-top: 2vh;
    display: flex;
    gap: 4vw;
}

